<%= form_with(model: vehicle_ad, local: true) do |form| %>
  <% if vehicle_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_ad.errors.count, "error") %> prohibited this vehicle_ad from being saved:</h2>

      <ul>
      <% vehicle_ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :customer_phone %>
    <%= form.text_field :customer_phone %>
  </div>

  <div class="field">
    <%= form.label :customer_message %>
    <%= form.text_area :customer_message %>
  </div>

  <div class="field">
    <%= form.label :vehicle_interest %>
    <%= form.text_field :vehicle_interest %>
  </div>

  <div class="field">
    <%= form.label :ad_link %>
    <%= form.text_field :ad_link %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model_name %>
    <%= form.text_field :model_name %>
  </div>

  <div class="field">
    <%= form.label :release_year %>
    <%= form.text_field :release_year %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.text_field :mileage %>
  </div>

  <div class="field">
    <%= form.label :accessories %>
    <%= form.text_field :accessories %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
